 <div class="example">
   <section class="conte img02"></section>
    <p><%= link_to "BACK", homes_about_path, data: {"turbolinks" => false} %></p>
</div>
<div class="finish">
     <h1><p></p></h1>
  </div>